name: PR Test Build and Push

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build-push-images.yaml'

jobs:
  build-test:
    uses: ./.github/workflows/build-push-images.yaml
    with:
      repository: ${{ vars.IMAGE_BUILD_REPOSITORY || 'konveyor/tackle2-ui' }}
      ref: main
      registry: ${{ vars.IMAGE_BUILD_REGISTRY || 'quay.io/konveyor' }}
      image_name: ${{ vars.IMAGE_BUILD_IMAGE_NAME || 'tackle2-ui' }}
      tag: test-pr${{ github.event.pull_request.number }}
      containerfile: ./Dockerfile
      architectures: '["amd64", "arm64"]'
      extra-args: |
        --ulimit nofile=4096:4096
        --label quay.expires-after=2h
    secrets:
      registry_username: ${{ secrets.QUAY_PUBLISH_ROBOT }}
      registry_password: ${{ secrets.QUAY_PUBLISH_TOKEN }}
